{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "strict": 0,
    "camelcase": 0,
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "key-spacing": 0,
    "new-cap": [1, {"capIsNew": false}],
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "no-trailing-spaces": 0,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "space-before-function-paren": [2, "always"],
    "no-process-exit": 0
  }
}
